<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Hackathonlar</h1>
    {% for i in active_hackathons %}
      <h3>{{ i.titl }}</h3>
    {% endfor %} -->


    
    {% for i in active_hackathons %}
        <h3>{{ i.title }}</h3>
    {% endfor %}




    {% for i in  past_hackathons %}
    <h3>{{ i.title }}</h3>
    {% endfor %}


    {% for i in upcoming_hackathons %}
    <h3>{{ i.title }}</h3>
    {% endfor %}
    
</body>
</html>
